body{
text-align: center;
padding-top: 10px;
background-color: aqua   
}
#welecome{
    color: aqua;
    bottom: 0;
    background: linear-gradient(#e22c2c 0%,#579357 100% );
  display: inline-table;
  width: 100%;
  height: 800px ;
  height: 100% ;
  opacity: 0.83;
  z-index: 9;
}
.profile{
 width: 175px; 
 margin-bottom: 50px;
 border-radius: 50%;   
}
#bio{
 margin: 50px;   
 padding: 50px;
 text-align: center;   
}
.line{
 height: 6px;
 width: 70px;
 margin: 8px auto;
 background-color: black;    
}
p{
max-width: 450px;
margin: 25px auto;
font-size: 17px;
line-height: 1.3;    
}
.parallax-inner{
 display: table-cell;
 position: relative;
 text-align: center;
 vertical-align: middle;   
}
.menu{
 list-style: none; 
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 position: absolute;
 top: 10px;
 right: 30px;
 cursor: pointer;
z-index: 10;
}
.link{
 float: left; 
 color: blue;
 padding-top: 5px;
 padding-bottom: 5px;
 padding-right: 10px;
 padding-left: 10px;
 font-family:'Orelega One', cursive;
 font-size: 20px;
}
.link:hover{
 background-color: #e22c2c; 
}
iframe{
margin: 5px;
border-style: groove;
border-radius: 50px;
border: 5px;
border-color: red;
padding: 5px;
}
h1{
 font-size: 50px;
 color: springgreen;
font-family: Arial, Helvetica, sans-serif;
font-weight: 500;  
}
